/* .all .around .form-group:nth-child(2){
    margin-top: 30px 0;
    
} */
* {
	margin: 0;
	padding: 0;
}
.wrap {
	background-image: url("./images/Group\ 338.png");
	background-size: cover;
	font-family: "Helvetica";
	position: fixed;
	width: 100%;
	box-shadow: 20px 20px 20px 10px black inset;
	z-index: 1;
	width:100vw;
	height:100vh;
}
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
}
.sign-in {
	font-size: 35px;
	font-weight: bolder;
	margin: 0 auto;
	padding-top: 25px;
}
.around {
	width: 80%;
	margin: 0 auto;
}
.all {
	margin-top: 190px;
	width: 35%;
	height: 500px;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content: center;
	margin: 0 auto;
	color: #ffffff;
	z-index: 1;
	justify-items: center;
	margin-bottom: 300px;
}
.form-group {
	position: relative;
	z-index: 4;
	background-color: white;
	color: black;
	margin: 0 auto;
	border-radius: 3px;
	margin-bottom: 10px;
	font-size: 15px;
}
input {
	&::placeholder {
		color: transparent;
	}
	&:focus {
		~ {
			label {
				transform: translateY(-50%);
				top: 10px;
				font-size: 13px;
				left: 10px;
			}
		}
		outline: none;
	}
	&:not(:placeholder-shown) {
		~ {
			label {
				transform: translateY(-50%);
				top: 10px;
				font-size: 13px;
				left: 10px;
			}
		}
	}
	border: none;
	border-radius: 3px;
	padding: 5px 10px 5px 10px;
	font-size: 15px;
	box-sizing: border-box;
	width: 100%;
	height: 60px;
}
label {
	position: absolute;
	left: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 15px;
	transition: all 0.3s;
}
.log {
	button {
		background-color: #2f9a4c;
		width: 100%;
		border: none;
		padding: 5px 0 5px 0;
		color: white;
		font-size: 15px;
		height: 40px;
		&:hover {
			opacity: 0.8;
		}
	}
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}
.forgot {
	border-bottom: 1px solid white;
	color: white;
	font-size: 13px;
	float: right;
	cursor: pointer;
	&:hover {
		border-bottom: none;
	}
}
.or {
	margin-top: 20px;
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	&::before {
		content: "";
		position: absolute;
		bottom: -15px;
		top: 50%;
		right: 0;
		height: 1px;
		background: grey;
		transform: translateY(-50%);
		width: 40%;
	}
	&::after {
		content: "";
		position: absolute;
		transform: translateY(-50%);
		left: 0;
		top: 50%;
		background: grey;
		font-size: 15px;
		height: 1px;
		width: 40%;
		color: white;
	}
}
.log-in_twitter {
	margin-top: 20px;
	button {
		background-color: #1881c2;
		width: 100%;
		border: none;
		color: white;
		font-size: 15px;
		display: flex;
		line-height: 8px;
		border-radius: 2px;
		i {
			padding: 8px 8px;
			font-size: 20px;
		}
		>p {
			text-align: center !important;
			margin-top: 14px;
			padding: 0 30%;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}
.log-in_fb {
	margin-top: 20px;
	button {
		i {
			padding: 8px 8px;
			font-size: 20px;
		}
		background: #395693;
		width: 100%;
		border: none;
		color: white;
		font-size: 15px;
		display: flex;
		line-height: 8px;
		border-radius: 2px;
		>p {
			text-align: center !important;
			margin-top: 14px;
			padding: 0 30%;
		}
		&:hover {
			opacity: 0.8;
		}
	}
}
.register {
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
	a {
		color: #ec4852;
		font-weight: bold;
		text-decoration: none;
		&:hover {
			color: #ec4852;
		}
	}
}
@media (min-width: 740px) and (max-width: 1024px) {
	.sign-in {
		text-align: center;
	}
	.all {
		width: 60%;
	}
	input {
		height: 50px;
	}
	.around {
		width: 90%;
	}
	.log-in_twitter {
		button {
			>p {
				padding: 0 30%;
			}
		}
	}
}
@media (max-width: 740px) {
	.all {
		width: 100%;
	}
	.sign-in {
		text-align: center;
	}
	.around {
		width: 90%;
	}
	input {
		height: 50px;
	}
	.log-in_fb {
		button {
			>p {
				padding: 0 25%;
			}
		}
	}
}
